<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Data Storage. XMLStorage / TXTStorage / ExcelStorage / SQLStorage.-->
    <add key="StorageType" value="XMLStorage"/>
    <!--The directory for loading xml files-->
    <add key="XMLStorageDirectory" value=""/>
    <!--The directory for loading txt files-->
    <add key="TXTStorageDirectory" value =""/>
    <!--The directory for loading excel files-->
    <add key="ExcelStorageDirectory" value =""/>
    <!--??????????????????????????????????-->
    <add key="Default Connection String" value=""/>
  </appSettings>
</configuration>