<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Default Logging Output Directory" value=""/>
    <add key="Default Tracing Directory" value =""/>
    <add key="Default Result Output Directory" value =""/>
    <add key="Default Connection String" value=""/>
    <add key="Default Working Mode" value="Local"/>
  </appSettings>
</configuration>