<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--The directory for logging files-->
    <add key="LoggingDirectory" value=""/>
    <!--The directory for result output (XML or TXT)-->
    <add key="StorageDirectory" value =""/>
    <!--??????????????????????????????????-->
    <add key="Default Connection String" value=""/>
    <!--The directory for tracing files.-->
    <add key="TracingDirectory" value =""/>
    <!--Default working mode. Local / WCFDistributed.-->
    <add key="WorkingMode" value="Local"/>
    <!--The directory for reading files during static generation.-->
    <add key="StaticGenerationDirectory" value=""/>
  </appSettings>
</configuration>