<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- The directory of XML files -->
    <add key="XmlProvider" value="C:\ComplexNetwork" />
    <!-- The name of connectionStrings -->
    <add key="SQLProvider" value="CNServer" />
    <!-- The type of storage, must be XmlProvider or SQLProvider -->
    <add key="Storage" value="XmlProvider" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="CNServer" connectionString="Data Source=SIS2W019\CNSQLEXPRESS;Initial Catalog=ComplexNetwork;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>