<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- The directory of XML files -->
    <add key="XmlProvider" value="C:\ComplexNetwork"/>
    <!-- The name of connectionStrings -->
    <add key="SQLProvider" value="CNServer"/>
    <!-- The type of storage, must be XmlProvider or SQLProvider -->
    <add key="Storage" value="XmlProvider"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="CNServer" connectionString="Data Source=SIS2W019\CNSQLEXPRESS;Initial Catalog=ComplexNetwork;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
